:root {
	font-family: 'Courier New', Courier, monospace;
	font-size: 16px;
	line-height: 1rem;
}

.allControls {
	height: max-content;
}

body {
	background-color: rgb(255, 225, 200);
	background-image: url('https://images.unsplash.com/photo-1561553475-ff52585fad97?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.main {
	height: 100vh;
	visibility: hidden;
	display: flex;
	flex-direction: column;
	padding: 4rem;
	box-sizing: border-box;
}

.weatherContainer {
	display: flex;
	justify-content: space-between;
}

.weatherExtra,
.weatherForecast,
.weatherDailyForecast,
.weatherHourlyForecast {
	display: flex;
	justify-content: space-between;
}

.weatherExtra_feels,
.weatherExtra_humidity,
.weatherExtra_wind,
.weatherExtra_pressure {
	font-size: 1.2rem;
}

.weatherBasic * {
	padding: 0.5rem;
}

.weatherBasic_coordLat,
.weatherBasic_coordLon {
	font-size: 0.9rem;
}

img {
	display: block;
	padding: 0.25rem;
	box-sizing: border-box;
	user-select: none;
}

.forecastDaily,
.forecastHourly {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	min-width: 7rem;
}

.forecastDaily *,
.forecastHourly * {
	padding: 0.5rem;
	margin: auto 0;
}

.forecastDaily .bold,
.forecastHourly .bold {
	font-size: 1.5rem;
}

.bold {
	font-weight: 600;
}

.forecastDaily p,
.forecastHourly p {
	padding: 0;
	padding-bottom: 0.25rem;
}

.allControls {
	display: flex;
	flex-direction: column;
	padding: 0.5rem;
}

.weatherBasic {
	max-width: max-content;
	font-size: 1rem;
}

.weatherBasic_description {
	font-size: 1.5rem;
}

.basicContainer {
	display: flex;
}

.extraContainer {
	display: flex;
	align-items: center;
	padding: 0.5rem;
}

span div {
	padding: 0.25rem 0;
}

span {
	margin-left: 0.75rem;
}

.weatherForecast {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.weatherBasic_icon {
	height: 8rem;
	width: 8rem;
	display: block;
}

.weatherExtra_icon {
	height: 3rem;
	width: 3rem;
}

.weatherForecast_icon {
	height: 4rem;
	width: 4rem;
	margin: auto 0;
}

input[type='radio'] {
	display: none;
}

input[type='radio'] + label {
	background-color: rgba(100, 225, 255, 0.6);
	cursor: pointer;
	display: block;
	text-align: center;
	padding: 0.5rem 1rem;
	border-radius: 5px;
}

input[type='radio']:hover + label {
	background-color: rgba(100, 225, 255, 0.8);
}

input[type='radio']:checked + label {
	background-color: rgba(225, 225, 0, 0.8);
}

.searchType {
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	margin-top: 0.75rem;
	justify-content: space-between;
	font-size: 0.75rem;
	user-select: none;
}

.changeUnits {
	font-size: 0.8rem;
	cursor: pointer;
	user-select: none;
	border: none;
	background-color: rgba(200, 100, 255, 0.6);
	border-radius: 5px;
	margin-left: 1rem;
	text-align: left;
	padding: 0.25rem 0.5rem;
}

.changeUnits:hover {
	background-color: rgba(200, 100, 255, 0.8);
}

.searchBox {
	display: flex;
	flex-direction: row;
	position: relative;
}

.searchBoxInput {
	outline: none;
	border: none;
	background-color: rgba(255, 255, 255, 0.6);
	padding: 0.25rem 1.5rem 0.25rem 0.5rem;
	border-radius: 5px;
}

.searchBoxInput:hover,
.searchBoxInput:focus {
	background-color: rgba(255, 255, 255, 0.8);
}

::placeholder {
	color: rgb(0, 0, 0);
	opacity: 0.8;
}

.searchControls {
	display: flex;
	flex-direction: row;
}

.searchIcon {
	width: 1.5rem;
	height: 1.5rem;
	opacity: 0.6;
	margin: auto;
	cursor: pointer;
	margin-left: -1.5rem;
}

.searchBox div {
	display: flex;
	align-content: center;
	justify-content: center;
	position: relative;
}

::placeholder {
	opacity: 0.6;
}

.prevArrow,
.nextArrow {
	cursor: pointer;
	user-select: none;
	margin: 0.25rem;
}

.dot {
	display: inline-block;
	padding: 0.25rem;
	margin: 0.25rem;
	border: 1px solid rgb(0, 0, 0);
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0);
	user-select: none;
	cursor: pointer;
}

.activeDot {
	background-color: rgb(0, 0, 0);
}

.dailyBtn,
.hourlyBtn {
	padding: 0.25rem 0.5rem;
	border: 2px solid;
	border-color: rgba(0, 0, 0, 0.6) transparent;
	cursor: pointer;
	user-select: none;
	font-size: 1.1rem;
	margin-right: 1.25rem;
}

.dailyBtn:hover,
.hourlyBtn:hover {
	border-color: rgba(0, 0, 0, 0.6);
}

.activeBtn,
.activeBtn:hover {
	border-color: rgb(0, 0, 0);
	border-radius: 5px;
	font-weight: 600;
}

:focus::placeholder {
	opacity: 0.3;
}

.forecastContainer {
	margin-top: auto;
}

.weatherExtra {
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: max-content;
}

.searchBoxInput {
	font-size: 0.9rem;
}

.weatherBasic_temp {
	font-size: 1.5rem;
	text-align: center;
}

.weatherHourlyForecast {
	display: none;
}

.forecastControls {
	display: flex;
}

.changeForecast,
.changeHours {
	display: flex;
	align-items: center;
	padding: 0;
	margin-bottom: 2rem;
}

.changeHours {
	justify-content: space-between;
	align-items: center;
	visibility: hidden;
}

@media (max-width: 600px) {
	:root {
		font-size: 12px;
	}
	.main {
		padding: 1rem;
	}
	.weatherDailyForecast,
	.weatherHourlyForecast {
		flex-direction: column;
	}
	.forecastDaily,
	.forecastHourly {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}
	.forecastDaily *,
	.forecastHourly * {
		display: flex;
		padding: 0.5rem;
	}
	.forecastDaily div,
	.forecastHourly div {
		display: block;
	}
	.forecastControls {
		flex-direction: column;
	}
	.changeForecast,
	.changeHours {
		justify-content: center;
		margin: 0;
		padding: 0.5rem;
	}
	.changeHours {
		visibility: hidden;
	}
	.weatherForecast_icon {
		height: 3rem;
		width: 3rem;
		padding: 0.5rem;
	}
	.searchControls,
	.searchType {
		flex-direction: row;
	}
	.changeUnits {
		max-width: 5rem;
		margin-left: 0.5rem;
	}
	.searchBoxInput {
		padding: 0.5rem 1.5rem 0.5rem 0.5rem;
	}
	.weatherContainer {
		display: grid;
		grid-template:
			'x x'
			'y y';
	}
	.weatherExtra {
		margin: 2rem auto;
		grid-area: y;
	}
	.searchType {
		display: grid;
		justify-content: space-between;
		align-items: center;
		grid-template:
			'x x'
			'x x';
	}
	input[type='radio'] + label {
		text-align: center;
		padding: 0.75rem 3rem;
		margin-top: 0.5rem;
		box-sizing: border-box;
		border-radius: 5px;
	}
}
