body * {
	font-family: 'Courier New', Courier, monospace;
}

body {
	height: 100vh;
	background-color: rgb(255, 225, 200);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	flex-direction: column;
}

.weatherContainer {
	display: flex;
	justify-content: space-between;
	padding: 20px;
}

.weatherBasic,
.weatherExtra,
.weatherForecast,
.allControls {
	font-size: 14px;
	padding: 20px;
	margin: 20px;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.2);
}

.weatherBasic div,
.weatherExtra div,
.weatherForecast div {
	padding: 5px;
}

.allControls {
	font-size: 12px;
	display: flex;
	height: 100px;

	flex-direction: column;
}

.weatherBasic_description {
	font-size: 20px;
}

.weatherForecast {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.weatherBasic_icon {
	height: 96px;
	width: 96px;
}

.weatherExtra_icon {
	height: 32px;
	width: 32px;
}

input[type='radio'] {
	display: none;
}

input[type='radio'] + label {
	border: 1px solid rgba(0, 0, 0, 0.5);
	background-color: rgba(100, 225, 255, 0.5);
	cursor: pointer;
	display: block;
	width: 90px;
	box-sizing: border-box;
	text-align: center;
	padding: 13px 0;
}

input[type='radio']:hover + label {
	background-color: rgba(100, 225, 255, 0.6);
}

input[type='radio']:checked + label {
	border: 1px solid rgba(0, 0, 0, 0.5);
	background-color: rgba(225, 225, 0, 0.5);
}

input[type='radio']:checked:hover + label {
	background-color: rgba(225, 225, 0, 0.6);
}

#cityName + label {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#cityID + label {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.changeUnits {
	padding: 11px 10px;
	cursor: pointer;
	border: 1px solid rgba(0, 0, 0, 0.5);
	background-color: rgba(150, 100, 255, 0.5);
	border-radius: 5px;
	margin-left: 10px;
}

.changeUnits:hover {
	background-color: rgba(175, 100, 255, 0.6);
}

.searchBox {
	display: flex;
	flex-direction: row;
	position: relative;
}

.searchBoxInput {
	outline: none;
	border: none;
	width: 200px;
	height: 40px;
	background-color: rgba(255, 255, 255, 0.5);
	padding: 10px;
	border-radius: 5px;
}

.searchBoxInput:hover {
	background-color: rgba(255, 255, 255, 0.6);
}

::placeholder {
	color: black;
	opacity: 0.8;
}

.controls {
	display: flex;
	flex-direction: row;
}

.searchType {
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	margin-top: 20px;
}

.searchIcon {
	position: absolute;
	right: 0;
	opacity: 0.6;
	margin: 12px;
	cursor: pointer;
}

.searchBox div {
	display: flex;
	align-content: center;
	justify-content: center;
	position: relative;
}

::placeholder {
	opacity: 0.6;
}

:focus::placeholder {
	opacity: 0.3;
}

.forecastContainer {
	display: flex;
	padding: 20px;
	margin: 20px;
	margin-top: auto;
	justify-content: space-evenly;
}
